body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  margin-bottom: 15px;
}

nav {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 15px;
  background: #e63946;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

input, button {
  padding: 10px;
  margin: 5px 0;
}

#pokedex-list, #favoritos-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
}

.card {
  padding: 10px;
  border-radius: 8px;
  background: #f1faee;
  text-align: center;
}
